service fix_taskbar /system/bin/sh -c "sleep 10 && settings put global enable_taskbar 1 && am force-stop com.android.launcher3"
    user root
    group root
    disabled
    oneshot

on property:sys.boot_completed=1
    start fix_taskbar
